/* General styling */

body {
    margin: 0;
    font-family: 'Roboto';
    color: black;
}

a {
    text-decoration: none;
}


/* header - nav */

header {
    align-items: center;
    background-color: #ffffff;
    display: flex;
    height: 85px;
    justify-content: space-between;
    padding: 0px 30px;
    position: fixed;
    top: 0%;
    width: 100%;
}

.nav {
    align-items: center;
    display: flex;
    flex-direction: row;
    margin: 30px;
}

header a {
    color: black;

}

li {
    list-style-type: none;
    margin-right: 30px;
}


/* hero banner */

#hero-banner {
    height: 700px;
    margin-top: 85px;
    background: url(https://images.unsplash.com/photo-1481923387198-050ac1a2896e?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=3066&q=80);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    display: flex;
    align-items: center;
    
}

.join-module {
    align-items: center;
    background-color: #9DC20A;
    border-radius: 8px;
    display: flex;
    justify-content: space-around;
    flex-direction: column;
    padding: 32px 80px 40px 80px;
    width: fit-content;
    margin-left: 5%;
}

.join-button {
    align-items: center;
    background-color: #4a4a4a;
    border: none;
    border-radius: 8px;
    color: #ffffff;
    display: flex;
    font-size: 20px;
    height: 64px;
    justify-content: space-around;
    text-align: center;
    width: 408px;
    
}

.module-title {
    font-family: 'Rubik';
    font-size: 50px;
    line-height: 0.2rem;
    color: white;
    max-width: 408px;
    margin-bottom: 1rem;
    text-decoration: none;
    text-align: center;
    
}

.module-supportin-copy {
    color: white;
    font-family: 'Roboto';
    font-size: 20px; 
    line-height: 1.8rem;
    margin-bottom: 1.5rem;
    max-width: 408px;
    text-align: center;
}

.cursive {
    font-family: 'Damion';
    font-size: 36px;
    color: white; 
    line-height: 0rem;
}


/* Features sections */

.feature-section {
    background-color: #e2e2e2;
    display: flex;
    justify-content: center;
    padding: 20px 40px;
}

.feature {
    align-items: center;
    background-color: #ffffff;
    display: flex;
    flex-direction: column;
    height: 635px;
    justify-items: center;
    padding: 32px 0px;
    margin: 46px 38px 46px 38px;
    text-align: center;
    width: fit-content;
    max-width: 600px;
}

.feature-img {
    margin-bottom: 30px;
    object-fit: cover;
    width: 90%;
    height: 65%;

}

.feature-description {
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 187px;
    
}

.feature-copy {
    max-width: 80%; 
}

  /* text styling */

.feature-title {
    font-size: 32px;
    font-weight: 700;
    color: #4a4a4a;
    line-height: 0.1rem;
}

.feature-copy {
    font-size: 16px;
    font-weight: lig;
    color: #4a4a4a;
    line-height: 1.5rem;
    padding-top: 0;
}


/* icon styling */

.icon {
    height: 16px;
}


/* media queries */

@media only screen and (min-width: 768px) {
    .mobile {
        display: none;
    }
    .logo-mobile {
        display: none;
    }
}

@media only screen and (max-width: 768px) {
    .desktop {
        display: none;
    }
    
}