/* General styling */

body {
    margin: 0;
    font-size: 16px;
    font-family: 'Roboto';
    font-weight: 400;
}

a {
    color: #292929;
    font-family: 'Roboto';
    font-size: 16px;
    font-weight: 400;    
    text-decoration: none;
}

/* header - nav */

/* Burger menue */

.burger {
    display: inline-block;
    cursor: pointer;
}

    /* bar construction */
    .bar1, .bar2, .bar3 {
        background-color: #292929;
        height: 2px;
        margin: 7px 0px;
        width: 24px;
        transition: 0.4s;
        }
        
        .sidenav {
            background-color: #292929;
            float: right;
            height: 100%;
            overflow-x: hidden;
            padding-top: 16px;
            position: fixed;
            right: 0;
            top: 0;
            transition: 0.5s;
            width: 0;
            z-index: 1;
            
        }

        .sidenav a {
            color: #ffffff;
            display: block;
            padding: 12px 28px;
            transition: 0.3s;
            font-size: 24px;
            white-space: nowrap;
        }

        .sidenav a:hover {
            opacity: 0.5;
        }

    
header {
    background-color: #ffffff;
    height: fit-content;
    position: fixed;
    top: 0;
    width: 100%;
    padding: 13px 0px;
}

nav {
    align-content: space-around;
    color: #000000;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: auto;
    padding: 0px 30px;
    
}

.nav-tabs {
    padding: 0;
}

.logo-mobile {
    align-items: center;
    display: flex;
    height: 36px;
}

.logo {
    align-items: center;
    display: flex;
    justify-content: space-around;
}

.logo-media {
    height: 24px;
}

li {
    display: inline-block;
    list-style-type: none;
    margin-left: 20px;
    text-decoration: none;
}


/* hero banner */

#hero-banner {
    height: 700px;
    margin-top: 85px;
    background: url(https://images.unsplash.com/photo-1481923387198-050ac1a2896e?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=3066&q=80);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    display: flex;
    align-items: center;
    
}


.join-module {
    align-items: center;
    background-color: #9DC20A;
    border-radius: 8px;
    display: flex;
    justify-content: space-around;
    flex-direction: column;
    padding: 32px 80px 40px 80px;
    width: fit-content;
    margin-left: 5%;
}

.join-button {
    align-items: center;
    background-color: #4a4a4a;
    border: none;
    border-radius: 8px;
    color: #ffffff;
    display: flex;
    font-size: 20px;
    height: 64px;
    justify-content: space-around;
    text-align: center;
    width: 408px;
    
}

.module-title {
    font-family: 'Rubik';
    font-size: 50px;
    line-height: 0.2rem;
    color: white;
    max-width: 408px;
    margin-bottom: 1rem;
    text-decoration: none;
    text-align: center;
    
}

.module-supportin-copy {
    color: white;
    font-family: 'Roboto';
    font-size: 20px; 
    line-height: 1.8rem;
    margin-bottom: 1.5rem;
    max-width: 408px;
    text-align: center;
}

.cursive {
    font-family: 'Damion';
    font-size: 36px;
    color: white; 
    line-height: 0rem;
}


/* Features sections */

.feature-section {
    background-color: #e2e2e2;
    display: flex;
    justify-content: center;
    padding: 20px 40px;
}

.feature {
    align-items: center;
    background-color: #ffffff;
    display: flex;
    flex-direction: column;
    height: 635px;
    justify-items: center;
    padding: 32px 0px;
    margin: 46px 38px 46px 38px;
    text-align: center;
    width: fit-content;
    max-width: 600px;
}

.feature-img {
    margin-bottom: 30px;
    object-fit: cover;
    width: 90%;
    height: 65%;

}

.feature-description {
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 187px;
    
}

.feature-copy {
    max-width: 80%; 
}

  /* text styling */

.feature-title {
    font-size: 32px;
    font-weight: 700;
    color: #4a4a4a;
    line-height: 0.1rem;
}

.feature-copy {
    font-size: 16px;
    font-weight: lig;
    color: #4a4a4a;
    line-height: 1.5rem;
    padding-top: 0;
}


/* icon styling */

.icon {
    height: 16px;
}


/* media queries */

@media only screen and (min-width: 768px) {
    .icon {
        display: none;
    }
    .logo-mobile {
        display: none;
    }
    .burger {
        display: none;
    }

    .side-nav {
        display: none;
    }
}

@media only screen and (max-width: 768px) {
    .logo-desktop {
        display: none;
    }

    ul {
        display: none;
    }
    
    .icon {
        height: 20px;
    }

    header {
        padding: 24px 0px;
    }

    #hero-banner {
        margin-top: 78px;
        justify-content: space-around
    }

    .join-module {
        margin: 0px;
    }

    
}